@using NCAA_Data

@model List<PlayerStatistics>


@{
    ViewData["Title"] = "Home Page";
}

@* @@model NCAA_Data.PlayerStatistics *@

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<head class="main">
    <style>
            body, html {
                height: 100%;
            }

        body {
            @*background-image: url('grass.jpg');*@
            background-repeat: no-repeat;
            background-color: Window;
            background-size: cover;
            height: 100%;
            padding-top: 60px;
            padding-bottom: 40px;
        }

            .btn-primary {
                background-color: white;
                color: black;
                border: none;
                padding: 10px 10px;
                border-radius: 5px;
            }

                .btn-primary:hover {
                    border-width: 2px;
                    color: black;
                    background-color: ghostwhite;
                }
    </style>
</head>

@foreach (var item in Model)
{
     <h1>
         Player: @item.PlayerName
     </h1>
    <h2> Conference: @item.Conference </h2>
    <h2> Category: @item.Category</h2>
    <h2> Stat: @item.Stat.</h2>
    <h2> ---------------------------------</h2>



}