@{
    ViewData["Title"] = "Home Page";
}

@model NCAA_Data.Base

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<head class="main">
    <style>
            body, html {
                height: 100%;
            }

        body {
            background-image: url('grass.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            padding-top: 60px;
            padding-bottom: 40px;
        }

            .btn-primary {
                background-color: white;
                color: black;
                border: none;
                padding: 10px 10px;
                border-radius: 5px;
            }

                .btn-primary:hover {
                    border-width: 2px;
                    color: black;
                    background-color: ghostwhite;
                }
    </style>
</head>

<div class="text-center">
    <h1 class="display-4" style="color: black">NCAA Football Statistics</h1>
    <p style="color: black">Search for NCAA college football stats from any season dating back to 2005 (exc. 2020)</p>
</div>

<form asp-controller="Player" asp-action="Index" method="post">
    @*@USER INPUT: ENTER YEAR*@
    <div class="form-group">
        <label class="Field" for="">Year:</label>
        <br />
        <input class="form-control" type="text" name="year" id="year" placeholder="Enter year">
    </div>

    @*DROP DOWN #1: PICK A CONFERENCE*@
    <div class="form-group" id="conferenceOptions" style="display: none;">
        <label class="Field" for="">Conference:</label>
        <br />
        <select class="form-control" name="conference" id="conferenceOptionsDropdown">
            <option value=""></option>
            <option value="AAC">American</option> @*AAC*@
            <option value="ACC">ACC</option> @*ACC*@
            <option value="B12">Big 12</option> @*B12*@
            <option value="B1G">Big 10</option> @*B1G*@
            <option value="CUSA">Conference USA</option> @*CUSA*@
            <option value="MAC">Mid-American</option> @*MAC*@
            <option value="MWC">Mountain West</option> @*MWC*@
            <option value="PAC">Pac-12</option> @*PAC*@
            <option value="SEC">SEC</option> @*SEC*@
            <option value="SBC">Sun Belt</option> @*SBC*@
        </select>
    </div>

    @*DROP DOWN #2: PICK A SEASON*@
    <div class="form-group" id="seasonOptions" style="display: none;">
        <label class="Field" for="">Season:</label>
        <br />
        <select class="form-control" name="season" id="seasonOptionsDropdown">
            <option value=""></option>
            <option value="regular">Regular</option>
            <option value="postseason">Postsesaon</option>
            <option value="Both">Both</option>
        </select>
    </div>

    @*DROP DOWN #3: PICK A SIDE OF THE BALL*@
    <div class="form-group" id="sideOfTheBallOptions" style="display: none;">
        <label class="Field" for="">Side of the ball:</label>
        <br />
        <select class="form-control" name="sideOfTheBall" id="sideOfTheBallOptionsDropdown">
            <option value=""></option>
            <option value="Offense">Offense</option>
            <option value="Defense">Defense</option>
            <option value="Special Teams">Special Teams</option>
        </select>
    </div>
    @*---------------------------------------OFFENSE---------------------------------------------*@
    @*DROP DOWN #4:OFFENSE OPTIONS*@
    <div class="form-group" id="offenseOptions" style="display: none;">
        <label class="Field" for="">Offensive Category:</label>
        <br />
        <select class="form-control" name="StatCat" id="offenseOptionDropdown">
            <option value=""></option>
            <option value="Rushing">Rushing</option>
            <option value="Receiving">Receiving</option>
            <option value="Passing">Passing</option>
        </select>
    </div>

    @*DROP DOWN #5: RUSHING OPTIONS*@
    <div class="form-group" id="rushingOptions" style="display: none;">
        <label class="Field" for="">Rushing Stat:</label>
        <br />
        <select class="form-control" name="StatType" id="rushingOptionDropdown">
            <option value=""></option>
            <option value="YDS">Yards</option>
            <option value="TD">Touchdowns</option>
            <option value="CAR">Carries</option>
            <option value="YPC">Yards Per Carry</option>
            <option value="LONG">Long</option>
        </select>
    </div>

    @*DROP DOWN #5: RECEIVING OPTIONS*@
    <div class="form-group" id="receivingOptions" style="display: none;">
        <label class="Field" for="">Receiving Stat:</label>
        <br />
        <select class="form-control" name="StatType" id="receivingOptionDropdown">
            <option value=""></option>
            <option value="YDS">Yards</option>
            <option value="TD">Touchdowns</option>
            <option value="REC">Receptions</option>
            <option value="YPR">Yards Per Reception</option>
            <option value="LONG">Long</option>
        </select>
    </div>

    @*DROP DOWN #5: PASSING OPTIONS*@
    <div class="form-group" id="passingOptions" style="display: none;">
        <label class="Field" for="">Passing Stat:</label>
        <br />
        <select class="form-control" name="StatType" id="passingOptionDropdown">
            <option value=""></option>
            <option value="YDS">Yards</option>
            <option value="TD">Touchdowns</option>
            <option value="COMPLETIONS">Completions</option>
            <option value="ATT">Attempts</option>
            <option value="YPA">Yards Per Attempt</option>
            <option value="INT">Interceptions</option>
            <option value="PCT">Completion Percentage</option>
        </select>
    </div>
    @*---------------------------------------DEFENSE---------------------------------------------*@
    @*DROP DOWN #4: DEFENSE OPTIONS*@
    <div class="form-group" id="defenseOptions" style="display: none;">
        <label class="Field" for="">Defense Category:</label>
        <br />
        <select class="form-control" name="StatCat" id="defenseOptionDropdown">
            <option value=""></option>
            <option value="Defensive">All Defense</option>
        </select>
    </div>

    @*DROP DOWN #5: DEFENSE OPTIONS*@
    <div class="form-group" id="defenseStats" style="display: none;">
        <label class="Field" for="">Defense Stat:</label>
        <br />
        <select class="form-control" name="StatType" id="defenseStatsDropdown">
            <option value=""></option>
            <option value="SACKS">Sacks</option>
            <option value="PD">Pass Deflections</option>
            <option value="TFL">Tackle for Loss</option>
            <option value="TOT">Total Tackles</option>
            <option value="SOLO">Solo Tackles</option>
            <option value="TD">Touchdowns</option>
        </select>
    </div>
    @*---------------------------------------SPECIAL TEAMS---------------------------------------------*@
    @*DROP DOWN #4: SPECIAL TEAMS OPTIONS*@
    <div class="form-group" id="specialOptions" style="display: none;">
        <label class="Field" for="">Special Teams Category:</label>
        <br />
        <select class="form-control" name="StatCat" id="specialOptionDropdown">
            <option value=""></option>
            <option value="Kicking">Kicking</option>
            <option value="Punting">Punting</option>
            <option value="kickReturns">Kick Returns</option>
            <option value="puntReturns">Punt Returns</option>
        </select>
    </div>

    @*DROP DOWN #5: KICKING OPTIONS*@
    <div class="form-group" id="kickingOptions" style="display: none;">
        <label class="Field" for="">Kicking Stat:</label>
        <br />
        <select class="form-control" name="StatType" id="kickingOptionsDropdown">
            <option value=""></option>
            <option value="FGM">Field Goal Made</option>
            <option value="FGA">Field Goals Attempted</option>
            <option value="XPM">Extra Points Made</option>
            <option value="XPA">Extra Points Attempted</option>
            <option value="PCT">Field Goal Percentage</option>
            <option value="PTS">Total Points</option>
            <option value="LONG">Longest Field Goal</option>
        </select>
    </div>

    @*DROP DOWN #5: PUNTING OPTIONS*@
    <div class="form-group" id="puntingOptions" style="display: none;">
        <label class="Field" for="">Punting Stat:</label>
        <br />
        <select class="form-control" name="StatType" id="puntingOptionsDropdown">
            <option value=""></option>
            <option value="LONG">Longest</option>
            <option value="In 20">Inside the 20</option>
            <option value="YDS">Total Yards</option>
            <option value="YPP">Yards Per Punt</option>
            <option value="NO">No Return</option>
        </select>
    </div>

    @*DROP DOWN #5: KICK RETURN OPTIONS*@
    <div class="form-group" id="kickReturnOptions" style="display: none;">
        <label class="Field" for="">Kick Return Stat:</label>
        <br />
        <select class="form-control" name="StatType" id="kickReturnOptionsDropdown">
            <option value=""></option>
            <option value="LONG">Longest</option>
            <option value="TD">Touchdowns</option>
            <option value="YDS">Total Yards</option>
            <option value="NO">No Return</option>
            <option value="AVG">Average Kick Return</option>
        </select>
    </div>

    @*DROP DOWN #5: PUNT RETURN OPTIONS*@
    <div class="form-group" id="puntReturnOptions" style="display: none;">
        <label class="Field" for="">Punt Return Stat:</label>
        <br />
        <select class="form-control" name="StatType" id="puntReturnOptionsDropdown">
            <option value=""></option>
            <option value="LONG">Longest</option>
            <option value="TD">Touchdowns</option>
            <option value="YDS">Total Yards</option>
            <option value="NO">No Return</option>
            <option value="AVG">Average Punt Return</option>
        </select>
    </div>

    <script>document.addEventListener("DOMContentLoaded", function () {
            //reference the div id's
            var conferenceOptions = document.getElementById("conferenceOptions");

            var seasonOptions = document.getElementById("seasonOptions");
            var sideOfTheBallOptions = document.getElementById("sideOfTheBallOptions");
            var offenseOptions = document.getElementById("offenseOptions");
            var rushingOptions = document.getElementById("rushingOptions");
            var receivingOptions = document.getElementById("receivingOptions");
            var passingOptions = document.getElementById("passingOptions");
            var defenseOptions = document.getElementById("defenseOptions");
            var defenseStats = document.getElementById("defenseStats");
            var specialOptions = document.getElementById("specialOptions");
            var kickingOptions = document.getElementById("kickingOptions");
            var puntingOptions = document.getElementById("puntingOptions");
            var kickReturnOptions = document.getElementById("kickReturnOptions");
            var puntReturnOptions = document.getElementById("puntReturnOptions");

            //reference the class id's within the div
            var conferenceOptionsDropdown = conferenceOptions.querySelector("select");

            var seasonOptionsDropdown = seasonOptions.querySelector("select");
            var sideOfTheBallOptionsDropdown = sideOfTheBallOptions.querySelector("select");
            var offenseDropdown = offenseOptions.querySelector("select");
            var rushingDropdown = rushingOptions.querySelector("select");
            var receivingDropdown = receivingOptions.querySelector("select");
            var passingDropdown = passingOptions.querySelector("select");
            var defenseDropdown = defenseOptions.querySelector("select");
            var defenseStatsDropdown = defenseStats.querySelector("select");
            var specialDropdown = specialOptions.querySelector("select");
            var kickingOptionsDropdown = kickingOptions.querySelector("select");
            var puntingOptionsDropdown = puntingOptions.querySelector("select");
            var kickReturnOptionsDropdown = kickReturnOptions.querySelector("select");
            var puntReturnOptionsDropdown = puntReturnOptions.querySelector("select");


            // Disabling dropdowns

            seasonOptionsDropdown.setAttribute("disabled", "disabled");
            sideOfTheBallOptionsDropdown.setAttribute("disabled", "disabled");
            offenseDropdown.setAttribute("disabled", "disabled");
            rushingDropdown.setAttribute("disabled", "disabled");
            receivingDropdown.setAttribute("disabled", "disabled");
            passingDropdown.setAttribute("disabled", "disabled");
            defenseDropdown.setAttribute("disabled", "disabled");
            defenseStatsDropdown.setAttribute("disabled", "disabled");
            specialDropdown.setAttribute("disabled", "disabled");
            kickingOptionsDropdown.setAttribute("disabled", "disabled");
            puntingOptionsDropdown.setAttribute("disabled", "disabled");
            kickReturnOptionsDropdown.setAttribute("disabled", "disabled");
            puntReturnOptionsDropdown.setAttribute("disabled", "disabled");

            //Hiding dropdown options

            seasonOptions.style.display = "none";
            sideOfTheBallOptions.style.display = "none";
            offenseOptions.style.display = "none";
            rushingOptions.style.display = "none";
            receivingOptions.style.display = "none";
            passingOptions.style.display = "none";
            defenseOptions.style.display = "none";
            defenseStats.style.display = "none";
            specialOptions.style.display = "none";
            kickingOptions.style.display = "none";
            puntingOptions.style.display = "none";
            kickReturnOptions.style.display = "none";
            puntReturnOptions.style.display = "none";

            conferenceOptions.style.display = "block"; // Ensure the conferenceOptions is initially displayed

            conferenceOptionsDropdown.addEventListener("change", function () {
                var selectedConference = conferenceOptionsDropdown.value;

                seasonOptionsDropdown.setAttribute("disabled", "disabled");
                seasonOptions.style.display = "none";
                sideOfTheBallOptionsDropdown.setAttribute("disabled", "disabled");
                sideOfTheBallOptions.style.display = "none";

                if (selectedConference) {
                    seasonOptionsDropdown.removeAttribute("disabled");
                    seasonOptions.style.display = "block";
                }
            });

            seasonOptionsDropdown.addEventListener("change", function () {
                var selectedSeason = seasonOptionsDropdown.value;

                sideOfTheBallOptionsDropdown.setAttribute("disabled", "disabled");
                sideOfTheBallOptions.style.display = "none";

                if (selectedSeason) {
                    sideOfTheBallOptionsDropdown.removeAttribute("disabled");
                    sideOfTheBallOptions.style.display = "block";
                }
            });

            sideOfTheBallOptionsDropdown.addEventListener("change", function () {//triggers a function when the user changes the selected value
                var selectedValue = sideOfTheBallOptionsDropdown.value; //retrieves the current selected value of the sideOfTheBall dropdown

                if (selectedValue === "Offense") {
                    offenseDropdown.removeAttribute("disabled");
                    offenseOptions.style.display = "block";

                    // Hide other dropdowns
                    rushingDropdown.setAttribute("disabled", "disabled");
                    rushingOptions.style.display = "none";
                    receivingDropdown.setAttribute("disabled", "disabled");
                    receivingOptions.style.display = "none";
                    passingDropdown.setAttribute("disabled", "disabled");
                    passingOptions.style.display = "none";
                    defenseDropdown.setAttribute("disabled", "disabled");
                    defenseOptions.style.display = "none";
                    defenseStatsDropdown.setAttribute("disabled", "disabled");
                    defenseStats.style.display = "none";
                    specialDropdown.setAttribute("disabled", "disabled");
                    specialOptions.style.display = "none";
                    kickingOptionsDropdown.setAttribute("disabled", "disabled");
                    kickingOptions.style.display = "none";
                    puntingOptionsDropdown.setAttribute("disabled", "disabled");
                    puntingOptions.style.display = "none";
                    kickReturnOptionsDropdown.setAttribute("disabled", "disabled");
                    kickReturnOptions.style.display = "none";
                    puntReturnOptionsDropdown.setAttribute("disabled", "disabled");
                    puntReturnOptions.style.display = "none";

                } else if (selectedValue === "Defense") {
                    defenseDropdown.removeAttribute("disabled");
                    defenseOptions.style.display = "block";

                    // Hide other dropdowns
                    offenseDropdown.setAttribute("disabled", "disabled");
                    offenseOptions.style.display = "none";
                    rushingDropdown.setAttribute("disabled", "disabled");
                    rushingOptions.style.display = "none";
                    receivingDropdown.setAttribute("disabled", "disabled");
                    receivingOptions.style.display = "none";
                    passingDropdown.setAttribute("disabled", "disabled");
                    passingOptions.style.display = "none";
                    specialDropdown.setAttribute("disabled", "disabled");
                    specialOptions.style.display = "none";
                    kickingOptionsDropdown.setAttribute("disabled", "disabled");
                    kickingOptions.style.display = "none";
                    puntingOptionsDropdown.setAttribute("disabled", "disabled");
                    puntingOptions.style.display = "none";
                    kickReturnOptionsDropdown.setAttribute("disabled", "disabled");
                    kickReturnOptions.style.display = "none";
                    puntReturnOptionsDropdown.setAttribute("disabled", "disabled");
                    puntReturnOptions.style.display = "none";

                } else if (selectedValue === "Special Teams") {
                    specialDropdown.removeAttribute("disabled");
                    specialOptions.style.display = "block";

                    // Hide other dropdowns
                    offenseDropdown.setAttribute("disabled", "disabled");
                    offenseOptions.style.display = "none";
                    rushingDropdown.setAttribute("disabled", "disabled");
                    rushingOptions.style.display = "none";
                    receivingDropdown.setAttribute("disabled", "disabled");
                    receivingOptions.style.display = "none";
                    passingDropdown.setAttribute("disabled", "disabled");
                    passingOptions.style.display = "none";
                    defenseDropdown.setAttribute("disabled", "disabled");
                    defenseOptions.style.display = "none";
                    defenseStatsDropdown.setAttribute("disabled", "disabled");
                    defenseStats.style.display = "none";

                } else {
                    // Hide all dropdowns if no option is selected
                    offenseOptions.style.display = "none";
                    rushingOptions.style.display = "none";
                    receivingOptions.style.display = "none";
                    passingOptions.style.display = "none";
                    defenseOptions.style.display = "none";
                    defenseStats.style.display = "none";
                    specialOptions.style.display = "none";
                    kickingOptions.style.display = "none";
                    puntingOptions.style.display = "none";
                    kickReturnOptions.style.display = "none";
                    puntReturnOptions.style.display = "none";
                }
            });

            // Event listener for offenseDropdown
            offenseDropdown.addEventListener("change", function () {
                var selectedValue = offenseDropdown.value;

                if (selectedValue === "Rushing") {
                    rushingDropdown.removeAttribute("disabled");
                    rushingOptions.style.display = "block";

                    // Hide other dropdowns
                    receivingDropdown.setAttribute("disabled", "disabled");
                    receivingOptions.style.display = "none";
                    passingDropdown.setAttribute("disabled", "disabled");
                    passingOptions.style.display = "none";

                } else if (selectedValue === "Receiving") {
                    receivingDropdown.removeAttribute("disabled");
                    receivingOptions.style.display = "block";

                    // Hide other dropdowns
                    rushingOptions.style.display = "none";
                    passingOptions.style.display = "none";

                } else if (selectedValue === "Passing") {
                    passingDropdown.removeAttribute("disabled");
                    passingOptions.style.display = "block";

                    // Hide other dropdowns
                    rushingOptions.style.display = "none";
                    receivingOptions.style.display = "none";
                } else {
                    // Hide all offense dropdowns if no option is selected
                    rushingOptions.style.display = "none";
                    receivingOptions.style.display = "none";
                    passingOptions.style.display = "none";
                }
            });

            defenseDropdown.addEventListener("change", function () {
                var selectedValue = defenseDropdown.value;

                if (selectedValue === "Defensive") {
                    defenseStatsDropdown.removeAttribute("disabled");
                    defenseStats.style.display = "block";

                    // Hide other defense dropdowns
                    passingOptions.style.display = "none";
                    kickingOptions.style.display = "none";
                    puntingOptions.style.display = "none";
                    kickReturnOptions.style.display = "none";
                    puntReturnOptions.style.display = "none";
                } else {
                    // Hide all defense dropdowns if no option is selected
                    passingOptions.style.display = "none";
                    defenseStats.style.display = "none";
                    kickingOptions.style.display = "none";
                    puntingOptions.style.display = "none";
                    kickReturnOptions.style.display = "none";
                    puntReturnOptions.style.display = "none";
                }
            });
            specialDropdown.addEventListener("change", function () {
                var selectedValue = specialDropdown.value;

                if (selectedValue === "Kicking") {
                    kickingOptionsDropdown.removeAttribute("disabled");
                    kickingOptions.style.display = "block";

                    // Hide other special teams dropdowns
                    puntingOptions.style.display = "none";
                    kickReturnOptions.style.display = "none";
                    puntReturnOptions.style.display = "none";
                } else if (selectedValue === "Punting") {
                    puntingOptionsDropdown.removeAttribute("disabled");
                    puntingOptions.style.display = "block";

                    // Hide other special teams dropdowns
                    kickingOptions.style.display = "none";
                    kickReturnOptions.style.display = "none";
                    puntReturnOptions.style.display = "none";
                } else if (selectedValue === "kickReturns") {
                    kickReturnOptionsDropdown.removeAttribute("disabled");
                    kickReturnOptions.style.display = "block";

                    // Hide other special teams dropdowns
                    kickingOptions.style.display = "none";
                    puntingOptions.style.display = "none";
                    puntReturnOptions.style.display = "none";
                } else if (selectedValue === "puntReturns") {
                    puntReturnOptionsDropdown.removeAttribute("disabled");
                    puntReturnOptions.style.display = "block";

                    // Hide other special teams dropdowns
                    kickingOptions.style.display = "none";
                    puntingOptions.style.display = "none";
                    kickReturnOptions.style.display = "none";
                } else {
                    // Hide all special teams dropdowns if no option is selected
                    kickingOptions.style.display = "none";
                    puntingOptions.style.display = "none";
                    kickReturnOptions.style.display = "none";
                    puntReturnOptions.style.display = "none";
                }
            });

        });</script>

    <br />
    <input type="submit" value="Submit" class="btn-primary" />
</form>